.navbar-brand {
    font-weight: bold;
    font-size: 34px;
}

#addArticle {
    color: black;
    font-size: 15px;
}

#addArticleGroup {
    margin-top: 7%;
}

textarea {
    width: 300px;
}

#btn-group {
    display: inline;
    margin-left: 46%;
}

label {
    font-size: 20px;
}

#backToMain {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#imgArticle {
    width: 100%;
    height: 350px;
}

#inputComment {
    width: 75%;
    margin-left: 15px;
    height: 60px;
}

#sendBtn {
    height: 60px;
    margin-left: 15px;
    margin-top: -1px;
}

#comment {
    display: flex;
    align-items: center;
    justify-content: center
}

#blockOfComment {
    margin-top: 15px;
}

#blockOfComment {
    margin-top: 15px;
}

.avatar {
    border-radius: 5px;
    height: 70px;
    width: 70px;
}

.textOfArticle {
    margin-top: 10px;
    font-size: 16px;
    color: black;
}

#article {
    margin-top: 20px;
}

#imgPlaceholder {
    margin-top: 13px;
    margin-bottom: 5px;
    width: 100%;
    height: 200px;
}

* {
    box-sizing: border-box;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    margin: 10px;
    width: 47%;
    height: 500px;
    float: left;
    /* background: #2BBBAC; */
    border: 1px solid rgb(107, 107, 107);
    border-color: hsla(0, 0%, 49%, 0.5);
    border-radius: 5px;
}

.grid-item>a {
    color: black;
}