<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${articles.title}"></h2>
<dl class="list">
    <dt>id</dt>
    <dd th:text="${articles._id}"></dd>
    <dt>Text</dt>
    <dd th:text="${articles.text}"></dd>
    <dt>Author</dt>
    <dd th:text="${articles.author}"></dd>
</dl>

<form action="/delete">
    <input type="hidden" name="id" th:value="${articles._id}" />
    <h2><input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure?');" />
        <a th:href="@{'/editArticle/' + ${articles._id}}" class="btn btn-warning">Edit</a></h2>
</form>
</body>
</html>