<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/update">
    <div>
        <input type="text" name="title" th:value="${article.title}" />
    </div>
    <div>
        <textarea name="text" cols="60" rows="3" th:text="${article.text}"></textarea>
    </div>
    <div>
        <input type="text" name="author" th:value="${article.author}" />
    </div>

    <input type="hidden" name="id" th:value="${article._id}" />
    <button type="submit" class="btn btn-success">Save</button>
</form>
</body>
</html>