<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
</head>
<body>
<div>
    <div>
        <a href="/addArticle" class="btn btn-primary">Add Article</a>
    </div>
    <div>
        <text th:each="article : ${articles}">
            <p>
                Title: <br><a th:text="${article.title}"></a>
            <p>
                Author: <br><a th:text="${article.author}"></a>
            <p>
                Text: <br><a th:text="${article.text}"></a>
            <p>
                Link: <br><a th:href="@{'/article/'+ ${article._id}}">Show link</a>
        </text>
    </div>
    <!--
    <table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Text</th>
        <th>ID</th>
        <th>link to article</th>
    </tr>
    <tr th:each="article : ${articles}">
        <td><a th:text="${article.title}"</a></td>
        <td th:text="${article.author}"></td>
        <td th:text="${article.text}"></td>
        <td th:text="${article._id}"></td>
        <td> <a th:href="@{'/article/'+ ${article._id}}">Show link</a></td>
    </tr>
    </table>   -->


</div>
</body>
</html>